<script>console.log(Shopify.theme.schema_name + ' ' + Shopify.theme.schema_version + ' | ' + Shopify.theme.theme_store_id + ' | ' + Shopify.shop + ' | Theme name: ' + Shopify.theme.name);</script>
<noscript><div class="javascript-error-message">{{ 'general.no_js' | t }}</div></noscript>