{%- liquid
  assign meta_size = block.settings.meta | strip_html
  assign enable_slide = block.settings.enable_slide
-%}
{% if block.settings.meta != blank and meta_size.size > 0 %}
  <div class="content-block meta{% if enable_slide %} content-slide{% endif %}"{% if enable_slide %} data-content-slide{% endif %} {{ block.shopify_attributes }}>
    {%- liquid
      if enable_slide
        assign heading = block.settings.heading
        capture title
          if heading != blank
            echo heading
          else
            echo 'product.show_more' | t
          endif
        endcapture
        render 'block.button', block: block, title: title, is_ignore: true
      endif
    -%}
    <div class="content-slide-content" data-height>
      <div class="content-slide-space text-{{ block.settings.text_alignment }}">
        {{ block.settings.meta }}      
      </div>
    </div>
  </div>
{% endif %}